@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: #dae7e0;
  --neon-pink: #ff71ce;
  --neon-purple: #b026ff;
}

.link {
  text-decoration: underline;
}

.link:hover {
  opacity: 0.7;
}

p {
  font-family: 'Inter', sans-serif;
}
